{% extends 'base.html' %}
{% load pipeline %}

{% block meta %}
    <title>SitterBeacon Parent Dashboard</title>
{% endblock %}

{% block css %}
    {% stylesheet 'parents' %}
{% endblock %}

{% block body %}
<body>
    <div class="header" style="background-image:url({{ STATIC_URL }}files/images/mountains.jpg);">
        <h1>Hi. Welcome {{ parent.first_name }}</h1>
        <ul class="child-images-container">
            <li>
                <img src="{{ STATIC_URL }}files/images/child1.jpg" class="img-circle child-image" />
            </li>
            <li>
                <img src="{{ STATIC_URL }}files/images/child2.jpg" class="img-circle child-image" />
            </li>
            <li>
                <div class="child-image new-child img-circle">
                    <i class="fa fa-plus"></i>
                </div>
            </li>
        </ul>
        <div class="nav-bar">
            <a href="#/beacons">Beacons</a>
            <a href="#/account">Account</a>
            <span class="selected-arrow"></span>
        </div>
    </div>
        <div class="container parents-container">


            <div class="body-container">
                <div class="beacons">

                </div>
            </div>
        </div>
</body>
{% endblock %}