{% extends 'base.html' %}
{% load pipeline %}

{% block meta %}
    <title>SitterBeacon</title>
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock %}

{% block css %}
    {% stylesheet 'index' %}
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Book a</span> Sitter
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Get the App</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sitter">Become A Sitter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">SitterBeacon</h1>
                        <p class="intro-text">Take the hassle out of finding a babysitter, have babysitters find you <br/>
                        <a href="{% url 'web.views.parent_signup' %}" class="btn btn-success beacon-btn">Start Beaconing</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About SitterBeacon</h2>
                <p>
                    Whether you need to leave the house for errands or just want a night on the town, SitterBeacon takes the pain out of
                    finding a babysitter and instead finds the perfect babysitter for you.
                </p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download SitterBeacon on the App Store</h2>
                    <h3>Coming Soon</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact SitterBeacon</h2>
                <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
                <form>

                </form>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://facebook.com/bobby.steinbach" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/steinbachr" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Sitter Section -->
    <section id="sitter" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Become A Sitter</h2>
                <p>
                    Need a few extra dollars or just have some free time and love babysitting? Become an approved SitterBeacon
                    babysitter in just a few short steps.<br /><br />
                    <a href="{% url 'web.views.sitter_signup' %}" class="btn btn-default btn-lg">Get Started</a>
                </p>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; SitterBeacon 2014</p>
        </div>
    </footer>
</body>
{% endblock %}

{% block js %}
    {% javascript 'index' %}
{% endblock %}
